node_modules
.next
out
build
.git
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
*.pem
*.zip
MASJID-DIGITAL-V2-lama.zip
MASJID-DIGITAL-V2.zip
laravel-backup
temp_user_input.txt
add-profile.js
fix-jadwal-city.js
fix-profile-init.js
fix-profile.js
fix-qris.js
implement-ied.js
implement-jadwal.js
implement-keuangan.js
implement-media.js
implement-myquran.js
implement-panduan.js
implement-pengumuman-pagination.js
implement-pengumuman.js
implement-petugas-jumat.js
implement-qris.js
implement-superadmin-v2.js
implement-superadmin.js
implement-unified-pagination.js
refactor-toast.js
standardize-ui.js
update-profile-fields.js
