rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Fungsi bantuan untuk mengecek Superadmin
    function isSuperAdmin() {
      return request.auth != null && request.auth.token.email == 'aryafr4@gmail.com';
    }

    match /masjids/{masjidId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if (request.auth != null && resource.data.ownerUid == request.auth.uid) || isSuperAdmin();
      
      match /{subcollection}/{document} {
        allow read: if true;
        allow write: if (request.auth != null && get(/databases/$(database)/documents/masjids/$(masjidId)).data.ownerUid == request.auth.uid) || isSuperAdmin();
      }
    }
    
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /configs/{document} {
      allow read: if true; // Publik perlu membaca harga paket
      allow write: if isSuperAdmin();
    }

    match /vouchers/{document} {
      allow read: if true; // Klien perlu mengecek validitas voucher
      allow write: if isSuperAdmin();
    }
  }
}
